SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[gender] [bit] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[notify_flash_sale] [bit] NULL,
	[notify_new_products] [bit] NULL,
	[notify_order_updates] [bit] NULL,
	[notify_weekly_newsletter] [bit] NULL,
	[status] [bit] NULL,
	[two_factor_enabled] [bit] NULL,
	[birthday] [datetime2](6) NULL,
	[created_at] [datetime2](6) NULL,
	[address] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[auth_provider] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[avatar] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[email] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[full_name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[password] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[phone] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[provider_id] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[username] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shared_builds](
	[total_price] [numeric](38, 2) NULL,
	[created_at] [datetime2](6) NULL,
	[share_code] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[case_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[cooler_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[cpu_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[gpu_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[mainboard_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[psu_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ram_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[storage_id] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[translations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lang] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[key] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[value] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[assigned_admin] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[build_config] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[category] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[customer_email] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[customer_name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[customer_phone] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[message] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[status] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[subject] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flash_sales](
	[active] [bit] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[end_time] [datetime2](6) NULL,
	[start_time] [datetime2](6) NULL,
	[name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pc_combos](
	[price] [float] NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[badge] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[badge_color] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[image] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_resets](
	[expiry] [datetime2](6) NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[token] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_id] [int] NULL,
	[created_at] [datetime2](6) NULL,
	[message] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[sender] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[sender_name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[status] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[name] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[slug] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[description] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[author_id] [int] NOT NULL,
	[category_id] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[view_count] [bigint] NULL,
	[status] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[content] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[meta_description] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[meta_keywords] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[meta_title] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[slug] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[summary] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[thumbnail] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[title] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[discount_amount] [float] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total_price] [float] NULL,
	[user_id] [int] NULL,
	[created_at] [datetime2](6) NULL,
	[admin_note] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[refund_reason] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[address] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[city] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[email] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[full_name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[order_code] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[payment_method] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[phone] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[refund_previous_status] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[status] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[voucher_code] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[category_id] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [float] NOT NULL,
	[stock] [int] NULL,
	[created_at] [datetime2](6) NULL,
	[brand] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[image] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket_messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_id] [int] NOT NULL,
	[created_at] [datetime2](6) NULL,
	[message] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[sender] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[sender_name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[support_tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[created_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
	[subject] [nvarchar](1000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[admin_reply] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[assigned_admin] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[build_config] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[category] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[customer_email] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[customer_name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[customer_phone] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[message] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[status] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vouchers](
	[active] [bit] NULL,
	[category_id] [int] NULL,
	[discount_value] [float] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[max_discount_amount] [float] NULL,
	[min_order_amount] [float] NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NULL,
	[created_at] [datetime2](6) NULL,
	[end_date] [datetime2](6) NULL,
	[start_date] [datetime2](6) NULL,
	[code] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[description] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[discount_type] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_sessions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[is_expired] [bit] NULL,
	[user_id] [int] NOT NULL,
	[last_activity] [datetime2](6) NULL,
	[login_time] [datetime2](6) NULL,
	[ip_address] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[location] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[user_agent] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[device_info] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[session_id] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NULL,
	[user_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipping_addresses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[is_default] [bit] NOT NULL,
	[user_id] [int] NOT NULL,
	[city] [nvarchar](120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[district] [nvarchar](120) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[address] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[phone] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[recipient_name] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [datetime2](6) NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_vouchers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[voucher_id] [int] NOT NULL,
	[saved_at] [datetime2](6) NULL,
	[used_at] [datetime2](6) NULL,
	[reservation_expires_at] [datetime2](6) NULL,
	[status] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_movements](
	[change_quantity] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[created_at] [datetime2](6) NULL,
	[movement_type] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[note] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[stars] [int] NULL,
	[user_id] [int] NULL,
	[created_at] [datetime2](6) NULL,
	[content] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[image] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[video] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pc_combo_details](
	[product_id] [int] NULL,
	[combo_id] [bigint] NULL,
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[slot_type] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flash_sale_items](
	[flash_sale_id] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[sale_price] [float] NULL,
	[sale_quantity] [int] NULL,
	[sold_count] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[price] [float] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[last_update] [datetime2](6) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[users] ON 

GO
INSERT [dbo].[users] ([gender], [id], [notify_flash_sale], [notify_new_products], [notify_order_updates], [notify_weekly_newsletter], [status], [two_factor_enabled], [birthday], [created_at], [address], [auth_provider], [avatar], [email], [full_name], [password], [phone], [provider_id], [username]) VALUES (NULL, 1, 1, 0, 1, 1, 1, 0, NULL, CAST(N'2026-07-18T15:24:33.5240000' AS DateTime2), NULL, N'LOCAL', NULL, N'demo@luxurypc.vn', N'Lê Thanh Tuấn', N'encoded_password', NULL, NULL, N'demo_user')
GO
INSERT [dbo].[users] ([gender], [id], [notify_flash_sale], [notify_new_products], [notify_order_updates], [notify_weekly_newsletter], [status], [two_factor_enabled], [birthday], [created_at], [address], [auth_provider], [avatar], [email], [full_name], [password], [phone], [provider_id], [username]) VALUES (NULL, 2, 1, 0, 1, 1, 1, 0, NULL, CAST(N'2026-07-18T15:24:36.4010000' AS DateTime2), NULL, N'LOCAL', NULL, N'nguyentruongq169@gmail.com', N'LuxuryPC Admin', N'$2a$10$S3x1/UM3P2UR2.LYJkVt3ezLqRUk4JpclyDuxm9q9u.OBenTY5q2e', NULL, NULL, N'nguyentruongq169@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[users] OFF
GO
INSERT [dbo].[shared_builds] ([total_price], [created_at], [share_code], [case_id], [cooler_id], [cpu_id], [gpu_id], [mainboard_id], [psu_id], [ram_id], [storage_id], [name]) VALUES (CAST(67300000.00 AS Numeric(38, 2)), CAST(N'2026-07-18T21:16:30.0700000' AS DateTime2), N'5IZW0o0nS', N'28', N'30', N'1', N'16', N'6', N'23', N'11', NULL, NULL)
GO
INSERT [dbo].[shared_builds] ([total_price], [created_at], [share_code], [case_id], [cooler_id], [cpu_id], [gpu_id], [mainboard_id], [psu_id], [ram_id], [storage_id], [name]) VALUES (CAST(67300000.00 AS Numeric(38, 2)), CAST(N'2026-07-18T21:03:30.4350000' AS DateTime2), N'uweSwjEPi', N'28', N'30', N'1', N'16', N'6', N'23', N'11', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

GO
INSERT [dbo].[roles] ([id], [name]) VALUES (1, N'STAFF')
GO
INSERT [dbo].[roles] ([id], [name]) VALUES (2, N'ADMIN')
GO
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[translations] ON 

GO
INSERT [dbo].[translations] ([id], [lang], [key], [value]) VALUES (1, N'vi', N'admin-sidebar-dashboard', N'Dashboard')
GO
INSERT [dbo].[translations] ([id], [lang], [key], [value]) VALUES (2, N'en', N'admin-sidebar-dashboard', N'Dashboard')
GO
INSERT [dbo].[translations] ([id], [lang], [key], [value]) VALUES (3, N'vi', N'admin-sidebar-products', N'S?n ph?m')
GO
SET IDENTITY_INSERT [dbo].[translations] OFF
GO
SET IDENTITY_INSERT [dbo].[flash_sales] ON 

GO
INSERT [dbo].[flash_sales] ([active], [id], [created_at], [end_time], [start_time], [name]) VALUES (1, 1, CAST(N'2026-07-18T15:53:33.8460000' AS DateTime2), CAST(N'2026-07-24T12:00:00.0000000' AS DateTime2), CAST(N'2026-07-09T12:00:00.0000000' AS DateTime2), N'DOM ')
GO
INSERT [dbo].[flash_sales] ([active], [id], [created_at], [end_time], [start_time], [name]) VALUES (1, 2, CAST(N'2026-07-18T16:20:32.3590000' AS DateTime2), CAST(N'2026-07-24T12:00:00.0000000' AS DateTime2), CAST(N'2026-07-18T12:00:00.0000000' AS DateTime2), N'FOMO')
GO
INSERT [dbo].[flash_sales] ([active], [id], [created_at], [end_time], [start_time], [name]) VALUES (1, 3, CAST(N'2026-07-18T16:32:16.5540000' AS DateTime2), CAST(N'2026-07-20T12:00:00.0000000' AS DateTime2), CAST(N'2026-07-18T12:00:00.0000000' AS DateTime2), N'm')
GO
SET IDENTITY_INSERT [dbo].[flash_sales] OFF
GO
SET IDENTITY_INSERT [dbo].[pc_combos] ON 

GO
INSERT [dbo].[pc_combos] ([price], [id], [badge], [badge_color], [description], [image], [name]) VALUES (67000000, 1, N'HOT', N'#ef4444', NULL, N'/images/combo1.jpg', N'Combo 1: LXR Core Ultra 7 / RTX 5070Ti')
GO
INSERT [dbo].[pc_combos] ([price], [id], [badge], [badge_color], [description], [image], [name]) VALUES (67000000, 2, N'PREMIUM', N'#eab308', NULL, N'/images/combo2.jpg', N'Combo 2: LXR Core Ultra 7 / RTX 5080')
GO
INSERT [dbo].[pc_combos] ([price], [id], [badge], [badge_color], [description], [image], [name]) VALUES (47000000, 3, N'SALE', N'#22c55e', NULL, N'/images/combo3.jpg', N'Combo 3: LXR Intel i5-12400F / RTX 5060')
GO
SET IDENTITY_INSERT [dbo].[pc_combos] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

GO
INSERT [dbo].[categories] ([id], [name]) VALUES (1, N'CPU')
GO
INSERT [dbo].[categories] ([id], [name]) VALUES (2, N'Mainboard')
GO
INSERT [dbo].[categories] ([id], [name]) VALUES (3, N'RAM')
GO
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

GO
INSERT [dbo].[orders] ([discount_amount], [id], [total_price], [user_id], [created_at], [admin_note], [refund_reason], [address], [city], [email], [full_name], [order_code], [payment_method], [phone], [refund_previous_status], [status], [voucher_code]) VALUES (NULL, 1, 17200000, 2, CAST(N'2026-07-17T15:24:36.6400000' AS DateTime2), NULL, NULL, N'Địa chỉ kiểm thử', NULL, N'nguyentruongq169@gmail.com', N'LuxuryPC Admin', N'DEMO-VIETQR-WAITING', N'VIETQR', N'0900000000', NULL, N'CHO_XAC_NHAN_THANH_TOAN', NULL)
GO
INSERT [dbo].[orders] ([discount_amount], [id], [total_price], [user_id], [created_at], [admin_note], [refund_reason], [address], [city], [email], [full_name], [order_code], [payment_method], [phone], [refund_previous_status], [status], [voucher_code]) VALUES (NULL, 2, 8500000, 2, CAST(N'2026-07-16T15:24:36.6780000' AS DateTime2), NULL, NULL, N'Địa chỉ kiểm thử', NULL, N'nguyentruongq169@gmail.com', N'LuxuryPC Admin', N'DEMO-COD-PENDING', N'COD', N'0900000000', NULL, N'PENDING', NULL)
GO
INSERT [dbo].[orders] ([discount_amount], [id], [total_price], [user_id], [created_at], [admin_note], [refund_reason], [address], [city], [email], [full_name], [order_code], [payment_method], [phone], [refund_previous_status], [status], [voucher_code]) VALUES (NULL, 3, 25900000, 2, CAST(N'2026-07-15T15:24:36.6950000' AS DateTime2), NULL, NULL, N'Địa chỉ kiểm thử', NULL, N'nguyentruongq169@gmail.com', N'LuxuryPC Admin', N'DEMO-VIETQR-PAID', N'VIETQR', N'0900000000', NULL, N'DA_THANH_TOAN', NULL)
GO
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

GO
INSERT [dbo].[products] ([category_id], [id], [price], [stock], [created_at], [brand], [description], [image], [name]) VALUES (1, 1, 12000000, 100, CAST(N'2026-07-18T15:24:33.7770000' AS DateTime2), NULL, N'TDP: 125W', N'/images/products/ultra7_265f.jpg', N'Intel Core Ultra 7 265F (Tray)')
GO
INSERT [dbo].[products] ([category_id], [id], [price], [stock], [created_at], [brand], [description], [image], [name]) VALUES (1, 2, 2500000, 100, CAST(N'2026-07-18T15:24:33.8090000' AS DateTime2), NULL, N'TDP: 65W', N'/images/products/i5_12400f.png', N'Intel Core i5 12400F / 2.5GHz Turbo 4.4GHz (TRAY) - CHÍNH HÃNG')
GO
INSERT [dbo].[products] ([category_id], [id], [price], [stock], [created_at], [brand], [description], [image], [name]) VALUES (1, 3, 9500000, 100, CAST(N'2026-07-18T15:24:33.8280000' AS DateTime2), NULL, N'TDP: 65W', N'/images/products/i7_14700f.jpg', N'Intel Core i7 14700F (Tray)')
GO
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[vouchers] ON 

GO
INSERT [dbo].[vouchers] ([active], [category_id], [discount_value], [id], [max_discount_amount], [min_order_amount], [usage_limit], [used_count], [created_at], [end_date], [start_date], [code], [description], [discount_type]) VALUES (1, NULL, 10, 3, 10, 100, NULL, 0, CAST(N'2026-07-18T17:46:56.9170000' AS DateTime2), CAST(N'2026-07-24T12:00:00.0000000' AS DateTime2), NULL, N'KK', N'1', N'PERCENTAGE')
GO
INSERT [dbo].[vouchers] ([active], [category_id], [discount_value], [id], [max_discount_amount], [min_order_amount], [usage_limit], [used_count], [created_at], [end_date], [start_date], [code], [description], [discount_type]) VALUES (1, NULL, 5, 4, NULL, 6, NULL, 0, CAST(N'2026-07-18T19:17:45.9240000' AS DateTime2), CAST(N'2026-07-30T12:00:00.0000000' AS DateTime2), NULL, N'M', N'm', N'PERCENTAGE')
GO
SET IDENTITY_INSERT [dbo].[vouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[user_sessions] ON 

GO
INSERT [dbo].[user_sessions] ([id], [is_expired], [user_id], [last_activity], [login_time], [ip_address], [location], [user_agent], [device_info], [session_id]) VALUES (1, 1, 2, CAST(N'2026-07-18T15:34:42.8270000' AS DateTime2), CAST(N'2026-07-18T15:34:42.8270000' AS DateTime2), N'127.0.0.1', N'Localhost', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36', N'Chrome (Windows)', N'BF915ADAF9354AA357C588D3D950ED23')
GO
INSERT [dbo].[user_sessions] ([id], [is_expired], [user_id], [last_activity], [login_time], [ip_address], [location], [user_agent], [device_info], [session_id]) VALUES (2, 0, 2, CAST(N'2026-07-18T15:42:31.1250000' AS DateTime2), CAST(N'2026-07-18T15:42:31.1250000' AS DateTime2), N'127.0.0.1', N'Localhost', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36', N'Chrome (Windows)', N'380A8108C27A76750605272735E1FCDD')
GO
INSERT [dbo].[user_sessions] ([id], [is_expired], [user_id], [last_activity], [login_time], [ip_address], [location], [user_agent], [device_info], [session_id]) VALUES (3, 0, 2, CAST(N'2026-07-18T17:23:34.2410000' AS DateTime2), CAST(N'2026-07-18T17:23:34.2410000' AS DateTime2), N'127.0.0.1', N'Localhost', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/150.0.0.0 Safari/537.36', N'Chrome (Windows)', N'B7461840CB6CCCF9FCEFBD1F5CBC2E26')
GO
SET IDENTITY_INSERT [dbo].[user_sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[user_roles] ON 

GO
INSERT [dbo].[user_roles] ([id], [role_id], [user_id]) VALUES (1, 2, 2)
GO
SET IDENTITY_INSERT [dbo].[user_roles] OFF
GO
SET IDENTITY_INSERT [dbo].[user_vouchers] ON 

GO
INSERT [dbo].[user_vouchers] ([id], [user_id], [voucher_id], [saved_at], [used_at], [reservation_expires_at], [status]) VALUES (26, 2, 3, CAST(N'2026-07-18T17:47:03.9080000' AS DateTime2), NULL, NULL, N'AVAILABLE')
GO
INSERT [dbo].[user_vouchers] ([id], [user_id], [voucher_id], [saved_at], [used_at], [reservation_expires_at], [status]) VALUES (27, 2, 4, CAST(N'2026-07-18T19:17:53.9760000' AS DateTime2), NULL, NULL, N'AVAILABLE')
GO
SET IDENTITY_INSERT [dbo].[user_vouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[reviews] ON 

GO
INSERT [dbo].[reviews] ([id], [product_id], [stars], [user_id], [created_at], [content], [image], [video]) VALUES (1, NULL, 5, 1, CAST(N'2026-07-18T15:24:33.6266140' AS DateTime2), N'Máy build từ Luxury PC chạy mượt như mơ. RTX 4090 kết hợp với i9-14900K — không có game nào kháng cự được. Đáng từng đồng bỏ ra.', NULL, NULL)
GO
INSERT [dbo].[reviews] ([id], [product_id], [stars], [user_id], [created_at], [content], [image], [video]) VALUES (2, NULL, 5, 1, CAST(N'2026-07-18T15:24:33.6266140' AS DateTime2), N'Dịch vụ tư vấn chuyên nghiệp, lắp ráp cực kỳ thẩm mỹ. Tôi rất hài lòng với chiếc Workstation mới này.', NULL, NULL)
GO
INSERT [dbo].[reviews] ([id], [product_id], [stars], [user_id], [created_at], [content], [image], [video]) VALUES (3, NULL, 4, 1, CAST(N'2026-07-18T15:24:33.6266140' AS DateTime2), N'Bảo hành nhanh chóng, nhân viên nhiệt tình hỗ trợ. Xứng đáng với danh hiệu Luxury PC.', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[pc_combo_details] ON 

GO
INSERT [dbo].[pc_combo_details] ([product_id], [combo_id], [id], [slot_type]) VALUES (1, 1, 1, N'cpu')
GO
INSERT [dbo].[pc_combo_details] ([product_id], [combo_id], [id], [slot_type]) VALUES (6, 1, 2, N'mainboard')
GO
INSERT [dbo].[pc_combo_details] ([product_id], [combo_id], [id], [slot_type]) VALUES (11, 1, 3, N'ram')
GO
SET IDENTITY_INSERT [dbo].[pc_combo_details] OFF
GO
SET IDENTITY_INSERT [dbo].[flash_sale_items] ON 

GO
INSERT [dbo].[flash_sale_items] ([flash_sale_id], [id], [product_id], [sale_price], [sale_quantity], [sold_count]) VALUES (1, 1, 3, 100, 50, 0)
GO
INSERT [dbo].[flash_sale_items] ([flash_sale_id], [id], [product_id], [sale_price], [sale_quantity], [sold_count]) VALUES (1, 2, 12, 1, 50, 0)
GO
INSERT [dbo].[flash_sale_items] ([flash_sale_id], [id], [product_id], [sale_price], [sale_quantity], [sold_count]) VALUES (1, 3, 17, 999, 50, 0)
GO
SET IDENTITY_INSERT [dbo].[flash_sale_items] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

GO
INSERT [dbo].[order_items] ([id], [order_id], [price], [product_id], [quantity]) VALUES (1, 1, 17200000, 1, 1)
GO
INSERT [dbo].[order_items] ([id], [order_id], [price], [product_id], [quantity]) VALUES (2, 2, 8500000, 2, 1)
GO
INSERT [dbo].[order_items] ([id], [order_id], [price], [product_id], [quantity]) VALUES (3, 3, 25900000, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[inventory] ON 

GO
INSERT [dbo].[inventory] ([id], [product_id], [quantity], [last_update]) VALUES (1, 1, 100, CAST(N'2026-07-18T15:24:35.5140000' AS DateTime2))
GO
INSERT [dbo].[inventory] ([id], [product_id], [quantity], [last_update]) VALUES (2, 2, 100, CAST(N'2026-07-18T15:24:35.5780000' AS DateTime2))
GO
INSERT [dbo].[inventory] ([id], [product_id], [quantity], [last_update]) VALUES (3, 3, 100, CAST(N'2026-07-18T15:24:35.5870000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[inventory] OFF
GO
